@font-face {
  font-family: 'jolly_lodgerregular';
  src: url('jollylodger-regular-webfont.woff2') format('woff2'),
       url('jollylodger-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
}

/* Image styling */
.image {
  height: 100vh;
  display: flex;
  align-items: stretch;
  position: relative;
}

.imgpine {
  width: 37vw;
  object-fit: cover;
}

.pine {
  position: absolute;
  top: 15em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 0.1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'jolly_lodgerregular';
}

.logo {
  height: 8em;
  filter: brightness(0) invert(1);
  margin-right: -1em;
  margin-top: -0.2em;
}

.pine p {
  font-size: 6em;
  margin-top: 0.2em;
}

/* Text/Content styling */

.content{
  background-color: rgba(164, 173, 223, 0.219);
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 9em;
}

.info {
  padding: 2em 4em 2em 2em;
  font-size: 1.5em;
  font-weight: bold;

}


.know {
  margin-top: 1em;
}

.field {
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  background-color: white;
  box-shadow: 0.2em 0.2em 0.2em 0.2em rgb(194, 192, 192);
  padding: 4em 10em 3em 3em;
  position: relative;
}

legend {
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  top: 0.7em;
}

.field div {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  width: 25em;
  margin-right: 4em;
  margin-top: 1em;
}

input {
  padding: 0.5em;
  border-radius: 0.2em;
  border: 1px solid rgb(209, 207, 207);
  margin-top: 0.3em;
}

input:focus {
  outline: 1px solid rgb(46, 112, 255);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.253);
}

[type='password'], 
[type='password']:focus 
{
  outline: 1px solid red; 
}

.submit {
  padding: 2em 4em 2em 3em;
}

button {
  border: none;
  color: white;
  background-color: rgb(214, 142, 48);
  padding: 0.8em 3.2em;
  border-radius: 0.6em;
  font-weight: bold;
  font-size: 1.1em;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.247);
}

.submit p {
  margin-top: 2em;
}

.submit p a {
  text-decoration: none;
  color: rgb(214, 142, 48);
  font-weight: bold;
}

